.container {
  margin: 4rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 800;
  font-size: 3.8rem;
}

.text {
  max-width: 75%;
  text-align: center;
  color: #262626;
}
