.header {
  background-color: #9f0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

#logo {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}

#logo,
span {
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
}
.menu {
  display: flex;
  gap: 2rem;
}

.links {
  text-decoration: none;
  color: #fafafa;
}
